.viewEvent {
    height: 97rem;
    width: 85%;
    background-color: transparent;
    position: absolute;
    right:0;
    z-index: 3;
    display: flex;
    justify-content: flex-start;
    
    /* align-items: flex-end; */
    /* flex-direction: column; */

}