@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300;400;500;600;700&display=swap");
.userNameSettings {
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.userNameHeader {
    height: 50%;
}
.userNameHeader h1{
  font-size: 1vw;
  font-family: "Encode Sans Expanded", sans-serif;
  font-weight: 500;
  color: #374052;;
}
.userNameForm {
    height: 40%;
    width: 100%;

}

.userNameForm form {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


}
.userNameForm button {
    font-size: .8vw;
}

.userNameForm form input {
    height: 100%;
    width: 28%;
    padding-left: 1%;
    font-size: .9vw;
}
@media only screen and (max-width: 900px){
    .userNameHeader h1{
        font-size: 2vw;
    }
    .userNameForm form{
        width: 100%;
        justify-content: space-around;
    }
    .userNameForm form input{
        width: 25%;
        font-size: 1.5vw;
    }
    .userNameForm button{
        font-size: 2vw;
        width: 20% !important;
    }
     
  }

@media only screen and (max-width: 600px){
    .userNameHeader h1{
        font-size: 3vw;
    }
     
  }